body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
      #section1 {
    text-align: center;
}
.glyphicon.glyphicon-globe {
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 100px;
    
}